body{
    margin: 0;
    padding: 0;

}
.form {
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.459);
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: px;

  }
  
  input {
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
  }
.btn{
    background-color: blue;
    border: none;
}
.err{
    margin: 0%;
    margin-bottom: 10px;
}
